
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
              <a class="nav-link" routerLink="/admin">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Products -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="products">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Products</span></a>
        </li>

          <!-- Orders -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="orders">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Orders</span></a>
        </li>

          <!-- Authorize Menu -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="authorize-menu">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Authorize Menu</span></a>
        </li>

          <!-- Roles -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="roles">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Roles</span></a>
        </li>

          <!-- Users -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="users">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Users</span></a>
        </li>

          <!-- Siteyi Gör -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Siteyi Gör</span></a>
        </li>

