    <!-- Start Banner -->
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Hakkımızda</h1>
                    <p>
                        Hoş Geldiniz! Yöresel Lezzetler Dünyası'na adım atın ve Türkiye'nin en seçkin yöresel ürünlerini keşfedin. Misafirlerimize her bir lokasyonun eşsiz tatlarını sunmak, en iyi lezzetleri seçmek ve doğal güzelliklerle dolu bu zengin ülkenin lezzetlerini müşterilerimize tattırmayı görev edindik.
                        <br><br>
                        Burdur'un verimli topraklarından yetiştirilen cevizler, doğal ve lezzetli bir atıştırmalık sunuyor. Antalya Usulü Höşmerim Kaymağı ise Türkiye'nin gizli kalmış lezzetlerin biri. İnce bir dokuya sahip olan Höşmerim Kaymağı, kahvaltılık sos olarak tüketilir ve misafirlerimizin damaklarını şımartacak bir lezzetdir.
                        <br><br>
                        Denizli'nin benzersiz doğasında yetişen otların zenginliğiyle beslenen ineklerin sütünden elde edilen bu tereyağı, doğal ve yoğun bir aromaya sahip. Kahvaltı sofralarınıza lezzet katmak için mükemmel bir seçenek.
                        <br><br>
                        Soma'nın verimli topraklarında yetişen zeytinler, taze ve nefis bir lezzet sunuyor. Bu lezzetli zeytinlerden elde edilen zeytinyağı, sofralarınızda sağlıklı ve doğal bir alternatif sunuyor.
                        <br><br>
                        Mersin'in güneşle dolu bağlarından toplanan narlar, sulu ve tatlı bir meyve olarak sofralarınıza renk katıyor. Doğal şekerleriyle sağlıklı bir atıştırmalık sunan narlar, besleyici ve lezzetli bir seçenek.
                        <br><br>
                        Düzce'nin eşsiz iklimi, Türkiye'nin en kaliteli fındıklarının yetişmesini sağlıyor. Fındık, sağlıklı yağları ve zengin lezzetiyle tatlılara, atıştırmalıklara ve yemeklere lezzet katıyor.
                        <br><br>
                        Yöresel Lezzetler Dünyası olarak, Türkiye'nin en sevilen yöresel ürünlerini sizlere sunmaktan gurur duyuyoruz. Doğal, taze ve özenle seçilmiş bu ürünlerle sofralarınıza yöresel lezzetlerin büyülü dünyasını getiriyoruz. Ürünlerimiz, doğal yöntemlerle üretilmiş, yerel çiftçilerin emeğiyle yetişmiş ve özenle işlenmiştir.
                        <br><br>
                        Yöresel Lezzetler Dünyası olarak misyonumuz, Türkiye'nin çeşitli bölgelerindeki yöresel ürünleri, lezzetleri ve kültürel zenginlikleri keşfetmek ve bunları sizinle buluşturmak. Amacımız, geleneksel yöntemlerle üretilen ürünleri desteklemek ve bu değerli mirası gelecek nesillere aktarmaktır.
                        <br><br>
                        Sunduğumuz yöresel ürünlerin her biri, özgün tatlarını ve karakteristik özelliklerini koruyarak doğal yetişme ortamlarından gelir. Özenle seçilmiş cevizler, tam kıvamında höşmerim kaymağı, doğal tereyağı, kaliteli zeytinler ve zeytinyağları, taze ve lezzetli narlar ile çıtır çıtır fındıklar, hepsi sizlere en iyi kalitede sunulur.
                        <br><br>
                        İnternet sitemizde, bu yöresel ürünleri kolaylıkla keşfedebilir, ayrıntılı bilgilere ulaşabilir ve sipariş verebilirsiniz. Ürünlerimiz doğrudan üreticilerden temin edilir, böylece tazeliklerini ve otantik lezzetlerini korurlar. Her ürün, titizlikle paketlenir ve özenle adresinize teslim edilir.
                        <br><br>
                        Yöresel Lezzetler Dünyası olarak, sadece lezzetli ürünler sunmakla kalmayıp, aynı zamanda yerel üreticilere destek olmayı ve sürdürülebilir tarımı teşvik etmeyi hedefliyoruz. Bu şekilde, Türkiye'nin çeşitli bölgelerindeki küçük üreticilerin sürdürülebilirliklerini desteklerken, yöresel lezzetlerin değerini ve önemini vurgulamak istiyoruz.
                        <br><br>
                        Yöresel Lezzetler Dünyası'nda buluşmak, Türkiye'nin zengin gastronomik mirasına bir yolculuğa çıkmak anlamına gelir. Sizleri, lezzetli ve özgün ürünlerimizle tanışmaya ve bu eşsiz tatları deneyimlemeye davet ediyoruz. İnternet sitemizi ziyaret edin, alışveriş yapın ve Türkiye'nin yöresel lezzetlerinin tadını çıkarın. Her bir ısırıkla, Türkiye'nin zengin kültürel mozağini hissedeceksiniz.
                        <br><br>
                        Yöresel Lezzetler Dünyası'na hoş geldiniz, lezzetli yolculuğunuz başlasın!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/img/about-hero.svg" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

